Repository rewin123/space_editor, pull requests merged in 2023-12, with the labels that each got.

#121 feat: Change the Hierarchy to support `egui::CollapsingHeader`
  crates/editor/src/hierarchy.rs
Labels: enhancement

#125 Crates
  Cargo.toml
  assets/level_test.scn.ron
  assets/physics_loading_test.scn.ron
  assets/physics_object.scn.ron
  assets/tile.scn.ron
  crates/editor_core/Cargo.toml
  crates/editor_core/src/gltf_unpack.rs
  crates/editor_core/src/hotkeys.rs
  crates/editor_core/src/lib.rs
  crates/editor_core/src/load.rs
  crates/editor_core/src/selected.rs
  crates/editor_ui/Cargo.toml
  crates/editor_ui/src/asset_inspector/mod.rs
  crates/editor_ui/src/bot_menu.rs
  crates/editor_ui/src/change_chain.rs
  crates/editor_ui/src/debug_panels.rs
  crates/editor_ui/src/editor_tab.rs
  crates/editor_ui/src/game_view.rs
  crates/editor_ui/src/hierarchy.rs
  crates/editor_ui/src/inspector/components_order.rs
  crates/editor_ui/src/inspector/mod.rs
  crates/editor_ui/src/inspector/refl_impl.rs
  crates/editor_ui/src/inspector/resources.rs
  crates/editor_ui/src/lib.rs
  crates/editor_ui/src/mouse_check.rs
  crates/editor_ui/src/settings.rs
  crates/editor_ui/src/tool.rs
  crates/editor_ui/src/tools.rs
  crates/editor_ui/src/tools/gizmo.rs
  crates/editor_ui/src/ui_registration.rs
  crates/persistence/Cargo.toml
  crates/prefab/Cargo.toml
  crates/prefab/src/component/mod.rs
  crates/prefab/src/component/path.rs
  crates/prefab/src/component/shape.rs
  crates/prefab/src/editor_registry/mod.rs
  crates/prefab/src/lib.rs
  crates/prefab/src/load.rs
  crates/prefab/src/plugins.rs
  crates/prefab/src/save.rs
  crates/shared/Cargo.toml
  crates/undo/Cargo.toml
  crates/undo/src/lib.rs
  examples/spawn_prefab.rs
  examples/spawn_prefab_with_physics.rs
  modules/bevy_xpbd_plugin/Cargo.toml
  modules/bevy_xpbd_plugin/src/collider.rs
  modules/bevy_xpbd_plugin/src/registry.rs
  modules/bevy_xpbd_plugin/src/spatial_query.rs
  src/lib.rs
  src/main.rs
Labels: editor core

#131 0.3.1
  Cargo.toml
  crates/undo/Cargo.toml
  crates/undo/src/lib.rs
  modules/bevy_xpbd_plugin/src/registry.rs
  publish.bat
Labels: bug

#135 Game camera view tab
  crates/editor_ui/src/camera_view.rs
  crates/editor_ui/src/editor_tab.rs
  crates/editor_ui/src/game_view.rs
  crates/editor_ui/src/lib.rs
  crates/editor_ui/src/settings.rs
  crates/editor_ui/src/ui_registration.rs
  crates/prefab/src/editor_registry/mod.rs
  docs/shortcuts.md
  modules/terrain_gen/src/lib.rs
Labels: editor core
