Repository rewin123/space_editor, pull requests merged in 2024-01, with the labels that each got.

#145 Update dependencies to use egui v0.24
  crates/editor_ui/Cargo.toml
  crates/editor_ui/src/bottom_menu.rs
  crates/editor_ui/src/lib.rs
  crates/editor_ui/src/tools/gizmo.rs
  crates/prefab/Cargo.toml
  crates/prefab/src/component/path.rs
  crates/shared/Cargo.toml
Labels: enhancement

#149 Register ScreenSpaceTransmissionQuality
  crates/prefab/src/plugins.rs
Labels: bug, editor core

#151 Removes gizmos from PlayCamera
  crates/editor_ui/src/lib.rs
Labels: editor ui

#152 Fix children bug with gltf unpack #150
  crates/editor_core/src/gltf_unpack.rs
Labels: bug

#147 Simple assets inspector
  Cargo.toml
  crates/editor_ui/Cargo.toml
  crates/editor_ui/src/editor_tab.rs
  crates/editor_ui/src/inspector/mod.rs
  crates/editor_ui/src/inspector/runtime_assets.rs
Labels: editor ui

#153 Fix camera overlapping
  crates/editor_ui/src/camera_view.rs
  crates/editor_ui/src/editor_tab.rs
  crates/editor_ui/src/lib.rs
Labels: bug

#155 Fixed File browser for browsing `assets/`
  crates/editor_ui/src/bottom_menu.rs
  crates/shared/Cargo.toml
Labels: bug

#154 Support sending events through UI
  crates/editor_ui/src/editor_tab.rs
  crates/editor_ui/src/inspector/events.rs
  crates/editor_ui/src/inspector/mod.rs
  crates/prefab/src/editor_registry/mod.rs
  crates/prefab/src/load.rs
  examples/event_example.rs
Labels: editor core

#168 Set commit for egui_file crate before #157
  crates/shared/Cargo.toml
Labels: bug

#169 Detach undo
  crates/editor_ui/src/lib.rs
  crates/undo/src/lib.rs
Labels: editor core

#173 fix add prefab marker miss cache in undo
  crates/undo/src/lib.rs
Labels: bug

#176 Make editor plugin to be PluginGroup for allow to disable parts of editor
  crates/editor_ui/src/game_view.rs
  crates/editor_ui/src/hierarchy.rs
  crates/editor_ui/src/inspector/mod.rs
  crates/editor_ui/src/lib.rs
  crates/editor_ui/src/tools/gizmo.rs
  modules/bevy_xpbd_plugin/src/registry.rs
Labels: editor core, editor ui

#177 Undo v2
  crates/editor_ui/src/lib.rs
  crates/editor_ui/src/settings.rs
  crates/editor_ui/src/tools/gizmo.rs
  crates/undo/Cargo.toml
  crates/undo/src/lib.rs
Labels: bug, editor ui

#179 Clear mess in ui/lib.rs
  crates/editor_ui/src/camera_plugin.rs
  crates/editor_ui/src/lib.rs
  crates/editor_ui/src/selection.rs
  crates/editor_ui/src/ui_plugin.rs
  modules/bevy_xpbd_plugin/src/registry.rs
Labels: editor ui

#146 Manipulate Meshless Entities (Cameras, Lights, etc.)
  Cargo.toml
  assets/icons/CameraGizmo.png
  assets/icons/DirectionalLightGizmo.png
  assets/icons/PointLightGizmo.png
  assets/icons/SpotLightGizmo.png
  assets/icons/editor.icons.ron
  assets/icons/unknown.png
  crates/editor_ui/Cargo.toml
  crates/editor_ui/src/camera_view.rs
  crates/editor_ui/src/lib.rs
  crates/editor_ui/src/meshless_visualizer.rs
  crates/editor_ui/src/selection.rs
  crates/editor_ui/src/ui_plugin.rs
  crates/editor_ui/src/ui_registration.rs
  crates/prefab/src/plugins.rs
  crates/shared/src/lib.rs
  examples/platformer.rs
Labels: editor ui
